{% extends 'bases.html.twig' %}

{% block title %}Welcome:)
{% endblock %}

{% block body %}

	{% block header %}{% endblock %}
	{% block main %}
		<div class="bg-light p-3">
			<h1>Votre panier</h1>
		</div>
		{% if items | length > 0 %}
			<table class="table">
				<thead>
					<tr>
						<th>Livre</th>
						<th>Prix</th>
						<th>Quantité</th>
						<th>Total</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for item in items %}
						<tr>
							<td>{{ item.livre.titre}}</td>
							<td>{{ item.livre.prix}}</td>
							<td>{{ item.quantite}}</td>
							<td>{{ item.livre.prix * item.quantite}}</td>
							<td>
								<a href="{{ path('panier_remove', {'id': item.livre.id }) }}" class="btn btn-danger btn-sm">
									Supprimer
								</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
				<tfoot>
					<tr>
						<td class="text-right" colspan="3">Total :
						</td>
						<td>{{ total }}</td>
						<td>
							<a href="{{ path('payment') }}" class="btn btn-primary btn-sm">
								Payer 💰
							</a>
						</td>
					</tr>
				</tfoot>
			</table>
		{% else %}
			<p>Ups, c'est vide !</p>
		{% endif %}
	{% endblock %}
{% endblock %}
