{% extends 'bases.html.twig' %}

{% block title %}Auteur index
{% endblock %}

{% block body %}
	<h1>Auteur index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nom</th>
				<th>Description</th>
			</tr>
		</thead>
		<tbody>
			{% for auteur in auteurs %}
				<tr>
					<td>{{ auteur.id }}</td>
					<td>
						<a href="{{ path('front_auteur_show', {'id': auteur.id}) }}">{{ auteur.nom }}
							{{ auteur.prenom }}</a>
					</td>

					<td>{{ auteur.description }}</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
