{% extends 'bases.html.twig' %}

{% block title %}
	{{ auteur.prenom }}
	{{ auteur.nom }}
{% endblock %}

{% block main %}
	<h1 class="px-4 py-5 pb-2 border-bottom">Auteur :
		{{ auteur.prenom }}
		{{ auteur.nom }}</h1>
	<p class="text-center">{{ auteur.description }}</p>

	<div class="d-flex flex-wrap justify-content-around g-4 py-5">
		{% for livre in auteur.livres %}
			<div class="mb-4 text-center" style="width: 18rem;">
				{% include 'cardBase.html.twig' %}
			</div>

		{% endfor %}
	</div>

{% endblock %}
