{% extends 'bases.html.twig' %}

{% block title %}Livre index
{% endblock %}

{% block main %}
	<div class="d-flex justify-content-around my-4">

		{{ form(form)}}
		</div>


		<div class="d-flex flex-wrap justify-content-around">
			{% for livre in livres %}
				<div class="card mb-4 text-center" style="width: 18rem;">
					<img class="card-img-top" src="{{ livre.image }}" alt="{{ livre.titre }}">
					<div class="card-body">

						<h2 class="card-title">
							<a href="{{ path('front_livre_show', {'id' : livre.id }) }}">{{ livre.titre }}</a>
						</h2>
						<h3 class="card-text">{{ livre.auteur.nom }}
							{{ livre.auteur.prenom }}</h3>

						<p class="card-text text-justify">{{ livre.description }}</p>
						<p class="card-text">{{ livre.prix }}
							€</p>
						<h5>Revendeur:</h5>
						<h5>
							<a href="{{ path('revendeur_show', {'id': livre.revendeur.id}) }}">{{ livre.revendeur.email }}</a>
						</h5>
						<a href="{{ path('panier_add', {'id': livre.id}) }}" class="btn btn-primary">Ajouter au panier</a>
					</div>
				</div>
			{% endfor %}
		</div>

	{% endblock %}
