{% extends 'base.html.twig' %}

{% block title %}Livre
{% endblock %}

{% block body %}
	<h1>Livre</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ livre.id }}</td>
			</tr>
			<tr>
				<th>Titre</th>
				<td>{{ livre.titre }}</td>
			</tr>
			<tr>
				<th>Description</th>
				<td>{{ livre.description }}</td>
			</tr>
			<tr>
				<th>Image</th>
				<img src={{ livre.image }} alt="{{ livre.titre }}">
			</tr>
			<tr>
				<th>Auteur</th>
				<td>
					{{ livre.auteur.nom }}
					{{ livre.auteur.prenom }}
				</td>
			</tr>
			<tr>
				<th>Prix</th>
				<td>{{ livre.prix }}</td>
			</tr>
			<tr>
				<th>DateCreation</th>
				<td>{{ livre.dateCreation ? livre.dateCreation|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
			<tr>
				<th>DateMiseAJour</th>
				<td>{{ livre.dateMiseAJour ? livre.dateMiseAJour|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('front_livre_index') }}">back to list</a>

{% endblock %}
