{% extends 'bases.html.twig' %}

{% block title %}Livre :
	{{ livre.titre|capitalize }}
{% endblock %}

{% block main %}
	<h1 class="px-4 py-5 pb-2 border-bottom">Livre :
		{{ livre.titre|capitalize }}</h1>

	<section class="my-4">
		<div class="row featurette align-self-center">
			<div class="col-md-7 order-md-2 my-5 d-flex flex-column">
				<a class="text-purple-500 text-decoration-none" href="{{ path('front_auteur_show', {'id' : livre.auteur.id }) }}">
					<h1 class="fw-normal lh-1">{{ livre.auteur.nom }}
						{{ livre.auteur.prenom }}
					</h1>
				</a>
				<p class="lead">{{ livre.description }}</p>
				<h1 class="card-title pricing-card-title pb-3">{{livre.prix}}
					€
				</h1>
				<a href="{{ path('panier_add', {'id': livre.id}) }}" class="w-100 btn btn-outline-purple mx-1">Ajouter au panier</a>
			</div>
			<div class="col-md-5 order-md-1">
				<img class="d-block w-100" alt="..." src="{{ livre.image }}" alt="{{ livre.titre }}">
				<div class="d-flex pt-2 justify-content-center">
					<h6 class="pe-2">Revendu par :</h6>
					<h6>
						<a class="text-purple-500 text-decoration-none" href="{{ path('revendeur_show', {'id': livre.revendeur.id}) }}">{{ livre.revendeur.email }}</a>
					</h6>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
