{% extends 'bases.html.twig' %}

{% block title %}Utilisateur index
{% endblock %}

{% block main %}

	<div class="d-flex justify-content-end mt-3">
		<a class="btn btn-danger ml-auto" href="{{ path('app_logout') }}">Me deconnecter</a>
	</div>
	<h1 class="px-4 pb-2 border-bottom">Welcome
		{{ app.user.prenom }}
		{{ app.user.nom }}</h1>


	{% if app.user.livres.count == 0 %}
		<h3 class="my-5">Vous n'avez pas encore de livre(s) à revendre</h3>
	{% else %}
		<section class="my-4">
			<h2>
				Livres à vendre
			</h2>
			<div class="d-flex flex-wrap justify-content-around">

				{% for livre in app.user.livres %}
					<div class="card mb-4 text-center" style="width: 12rem;">
						<div class="card">
							<a class="text-decoration-none text-dark" href="{{ path('front_livre_show', {'id': livre.id}) }}">
								<img src="{{ livre.image }}" class="card-img-top pb-1" alt="couverture du livre: {{ livre.titre }}"></a>
							<div class="card-body text-center">
								<h5 class="card-title fw-bolder">
									<a class="text-decoration-none text-dark" href="{{ path('front_livre_show', {'id': livre.id}) }}">{{ livre.titre|capitalize }}</a>
								</h5>
								<a class="text-decoration-none text-dark" href="{{ path('front_auteur_show', {'id': livre.auteur.id}) }}">
									<p class="card-text fst-italic">Auteur:
										{{ livre.auteur.nom }}
										{{ livre.auteur.prenom }}</p>
								</a>
								<p class="card-text fw-bold">{{ livre.prix }}
									€</p>
								<p class="card-text">{{ livre.categorie.titre }}</p>
								<a href="{{ path('front_livre_edit', {'id': livre.id}) }}" class="btn btn-outline-purple mx-1 p-3">
									Modifier l'info</a>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</section>


		<hr>
		<h2>
			<a href="{{ path('command_index') }}">Mes commandes</a>
		</h2>

	{% endif %}

	<section class="my-4 border-bottom">
		{% if app.user.commands.count == 0 %}
			<h3 class="my-5">Vous n'avez pas encore acheté de livre(s)</h3>

		{% else %}
			<div class="my-4">
				{% for command in app.user.commands %}
					<div>
						<h3>ID de command :
							{{ command.id }}</h3>
						<div class="d-flex flex-wrap justify-content-around ">
							{% for produit in command.produits %}
								<div class="card mb-4 text-center" style="width: 18rem;">
									<div class="card-body">
										<h2 class="card-title">{{ produit.titre }}</h2>
										<h3 class="card-text">
											<a href="{{ path('front_auteur_show', {'id' : produit.auteur.id }) }}">{{ produit.auteur.nom }}
												{{ produit.auteur.prenom }}</a>
										</h3>
										<p class="card-text">{{ produit.prix }}
											€</p>
									</div>
								</div>

							{% endfor %}
						</div>
						<div class="text-center mb-4">
							<h3>Date de la command</h3>
							<p>{{ command.dateCommand ? command.dateCommand|date('Y-m-d H:i:s') : '' }}</p>
						</div>
					</div>
				{% endfor %}
			</div>

		{% endif %}
	</section>
	<div class="text-center my-4">
		<a href="{{ path('front_livre_new') }}" class="btn btn-outline-purple mx-1 p-3">
			<h4>Vendre un livre 📚
			</h4>
		</a>
	</div>
{% endblock %}
