{% extends 'bases.html.twig' %}

{% block title %}Welcome:)
{% endblock %}

{% block body %}

	{% block header %}{% endblock %}
	{% block main %}

		<div class="rounded header1 mb-4">
			<img src="{{ asset('img/library2.jpg') }}" class="d-block w-100 rounded" alt="...">
		</div>

		<div class="row">
			<div class="col-lg-2 categories">
				<section class="my-5">
					<h3 class="text-purple-700">Catégories</h3>
					<ul class="list-group list-group-flush">
						{% for categorie in categories %}
							<li class="list-group-item py-3 border-purple">
								<h5 href="{{ path('front_categorie_show', {'id' : categorie.id }) }}">{{ categorie.titre }}</h5>
							</li>
						{% endfor %}
					</ul>
				</section>
			</div>
			<div class="col-lg-10">

				<section class="my-5">
					<div class="container">
						<div class="row justify-content-between">
							<div class="col-lg-3 pt-1">
								<h3 class="text-purple-700">Coup de coeur</h3>
								<div class="py-4">
									{% for livre in livres|slice(0,1) %}
										<div class="card card-carousel">
											<img src="{{ livre.image }}" class="card-img-top pb-1" alt="couverture du livre: {{ livre.titre }}">
											<a href="{{ path('panier_add', {'id': livre.id}) }}" class="btn btn-outline-purple mx-1">Ajouter au panier</a>
											<div class="card-body text-center">
												<h5 class="card-title fw-bolder">{{ livre.titre|capitalize }}</h5>
												<p class="card-text fst-italic">Auteur:
													{{ livre.auteur.nom }}
													{{ livre.auteur.prenom }}</p>
												<p class="card-text fw-bold">{{ livre.prix }}
													€</p>
											</div>
										</div>
									{% endfor %}
								</div>
							</div>
							<div id="carouselExampleControls" class="col-lg-9 carousel carousel-dark slide" data-bs-ride="carousel">
								<div class="p-1">
									<h3 class="text-purple-700">Nouveautés</h3>
									<div class="carousel-inner">
										<div class="carousel-item active">
											<div class="cards-wrapper">
												{% for livre in livres|slice(1,3) %}
													<div class="card card-carousel">
														<img src="{{ livre.image }}" class="card-img-top pb-1" alt="couverture du livre: {{ livre.titre }}">
														<a href="{{ path('panier_add', {'id': livre.id}) }}" class="btn btn-outline-purple mx-1">Ajouter au panier</a>
														<div class="card-body text-center">
															<h5 class="card-title fw-bolder">{{ livre.titre|capitalize }}</h5>
															<p class="card-text fst-italic">Auteur:
																{{ livre.auteur.nom }}
																{{ livre.auteur.prenom }}</p>
															<p class="card-text fw-bold">{{ livre.prix }}
																€</p>
														</div>
													</div>
												{% endfor %}
											</div>
										</div>
										<div class="carousel-item">
											<div class="cards-wrapper">
												{% for livre in livres[4:3] %}
													<div class="card card-carousel">
														<img src="{{ livre.image }}" class="card-img-top pb-1" alt="couverture du livre: {{ livre.titre }}">
														<a href="{{ path('panier_add', {'id': livre.id}) }}" class="btn btn-outline-purple mx-1">Ajouter au panier</a>
														<div class="card-body text-center">
															<h5 class="card-title fw-bolder">{{ livre.titre|capitalize }}</h5>
															<p class="card-text fst-italic">Auteur:
																{{ livre.auteur.nom }}
																{{ livre.auteur.prenom }}</p>
															<p class="card-text fw-bold">{{ livre.prix }}
																€</p>
														</div>
													</div>
												{% endfor %}
											</div>
										</div>
										<div class="carousel-item">
											<div class="cards-wrapper">
												{% for livre in livres|slice(7,3) %}
													<div class="card card-carousel">
														<img src="{{ livre.image }}" class="card-img-top pb-1" alt="couverture du livre: {{ livre.titre }}">
														<a href="{{ path('panier_add', {'id': livre.id}) }}" class="btn btn-outline-purple mx-1">Ajouter au panier</a>
														<div class="card-body text-center">
															<h5 class="card-title fw-bolder">{{ livre.titre|capitalize }}</h5>
															<p class="card-text fst-italic">Auteur:
																{{ livre.auteur.nom }}
																{{ livre.auteur.prenom }}</p>
															<p class="card-text fw-bold">{{ livre.prix }}
																€</p>
														</div>
													</div>
												{% endfor %}
											</div>
										</div>
									</div>
								</div>
								<div>
									<button class="carousel-control-left w-0" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
										<span class="carousel-control-left-icon" aria-hidden="true">
											<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewbox="0 0 16 16">
												<path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
											</svg>
										</span>
										<span class="visually-hidden">Previous</span>
									</button>
									<button class="carousel-control-right  w-0" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
										<span class="carousel-control-left-icon" aria-hidden="true">
											<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewbox="0 0 16 16">
												<path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
											</svg>
										</span>
										<span class="visually-hidden">Next</span>
									</button>
								</div>
							</div>
						</div>
					</div>
				</section>

				<div class="row featurette my-5">
					<div class="col-md-7 order-md-2">
						<h2 class="featurette-heading fw-normal lh-1">Sed porttitor lectus nibh.
							<span class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
						</h2>
						<p class="lead">Vivamus suscipit tortor eget felis porttitor volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.</p>
					</div>
					<div class="col-md-5 order-md-1">
						<img src="{{ asset('img/library4.jpg') }}" class="d-block w-100" alt="...">

					</div>
				</div>
			</div>
			<section class="mt-5">
				<h3>Auteurs du mois</h3>
				<div class="container">
					<div class="row justify-content-between">
						<div id="carouselExampleControls2" class="col-lg-9 carousel carousel-dark slide" data-bs-ride="carousel">
							<div class="p-1">
								<div class="carousel-inner">
									<div class="carousel-item active">
										<div class="cards-wrapper">
											{% for auteur in auteurs|slice(1,3) %}
												<div class="card card-carousel" style="width: 18rem;">
													<div class="card-body">
														<h2 class="card-title">
															<a class="text-purple-500 text-decoration-none" href="{{ path('front_auteur_show', {'id' : auteur.id }) }}">{{ auteur.prenom }}
																{{ auteur.nom }}</a>
														</h2>
														<p class="card-text">{{ auteur.description }}</p>
													</div>
												</div>
											{% endfor %}
										</div>
									</div>
									<div class="carousel-item">
										<div class="cards-wrapper">
											{% for auteur in auteurs|slice(4,3) %}
												<div class="card card-carousel" style="width: 18rem;">
													<div class="card-body">
														<h2 class="card-title">
															<a class="text-purple-500 text-decoration-none" href="{{ path('front_auteur_show', {'id' : auteur.id }) }}">{{ auteur.prenom }}
																{{ auteur.nom }}</a>
														</h2>
														<p class="card-text">{{ auteur.description }}</p>
													</div>
												</div>
											{% endfor %}
										</div>
									</div>
									<div class="carousel-item">
										<div class="cards-wrapper">
											{% for auteur in auteurs|slice(7,3) %}
												<div class="card card-carousel" style="width: 18rem;">
													<div class="card-body">
														<h2 class="card-title">
															<a class="text-purple-500 text-decoration-none" href="{{ path('front_auteur_show', {'id' : auteur.id }) }}">{{ auteur.prenom }}
																{{ auteur.nom }}</a>
														</h2>
														<p class="card-text">{{ auteur.description }}</p>
													</div>
												</div>
											{% endfor %}
										</div>
									</div>
								</div>
							</div>
							<div>
								<button class="carousel-control-left w-0" type="button" data-bs-target="#carouselExampleControls2" data-bs-slide="prev">
									<span class="carousel-control-left-icon" aria-hidden="true">
										<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewbox="0 0 16 16">
											<path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
										</svg>
									</span>
									<span class="visually-hidden">Previous</span>
								</button>
								<button class="carousel-control-right  w-0" type="button" data-bs-target="#carouselExampleControls2" data-bs-slide="next">
									<span class="carousel-control-left-icon" aria-hidden="true">
										<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewbox="0 0 16 16">
											<path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
										</svg>
									</span>
									<span class="visually-hidden">Next</span>
								</button>
							</div>
						</div>
						<div class="col-lg-3 py-4">
							{% for auteur in auteurs|slice(0,1) %}
								<div class="card card-carousel">
									<div class="card-body">
										<h2 class="card-title">
											<a class="text-purple-500 text-decoration-none" href="{{ path('front_auteur_show', {'id' : auteur.id }) }}">{{ auteur.prenom }}
												{{ auteur.nom }}</a>
										</h2>
										<p class="card-text">{{ auteur.description }}</p>
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</section>
		</div>


	{% endblock %}
{% endblock %}
