{% extends 'base.html.twig' %}

{% block title %}Bonjour Admin !
{% endblock %}

{% block main %}
	<div class="container py-4">
		<header class="pb-3 mb-4 border-bottom d-flex align-items-center">
			<img class="logo" src="{{ asset('img/logo.png') }}" alt="bookstory logo">
			<span class="fs-4 ps-3">
				<h1>Bonjour Admin !</h1>
			</span>
		</header>

		<div class="row align-items-md-stretch">
			<div class="col-lg-4">
				<div class="h-100 p-5 text-white bg-dark rounded-3 text-center">
					<h2>Auteurs</h2>
					<p>Total :
						{{ auteurs }}</p>
					<a class="btn btn-outline-light" href="{{ path('admin_auteur_index') }}">Aller aux Auteurs
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="18" fill="currentColor" class="bi bi-pen" viewbox="0 0 16 16">
							<path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
						</svg>
					</a>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="h-100 p-5 bg-light border rounded-3 text-center">
					<h2>Catégories</h2>
					<p>Total :
						{{ categories }}</p>
					<a class="btn btn-outline-secondary" href="{{ path('admin_categorie_index') }}">Aller aux Catégories
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="18" fill="currentColor" class="bi bi-stack" viewbox="0 0 16 16">
							<path d="m14.12 10.163 1.715.858c.22.11.22.424 0 .534L8.267 15.34a.598.598 0 0 1-.534 0L.165 11.555a.299.299 0 0 1 0-.534l1.716-.858 5.317 2.659c.505.252 1.1.252 1.604 0l5.317-2.66zM7.733.063a.598.598 0 0 1 .534 0l7.568 3.784a.3.3 0 0 1 0 .535L8.267 8.165a.598.598 0 0 1-.534 0L.165 4.382a.299.299 0 0 1 0-.535L7.733.063z"/>
							<path d="m14.12 6.576 1.715.858c.22.11.22.424 0 .534l-7.568 3.784a.598.598 0 0 1-.534 0L.165 7.968a.299.299 0 0 1 0-.534l1.716-.858 5.317 2.659c.505.252 1.1.252 1.604 0l5.317-2.659z"/>
						</svg>
					</a>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="h-100 p-5 text-white bg-primary rounded-3 text-center">
					<h2>Livres</h2>
					<p>Total :
						{{ livres }}</p>
					<a class="btn btn-outline-light" href="{{ path('admin_livre_index') }}">Aller aux Livres
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="18" fill="currentColor" class="bi bi-book" viewbox="0 0 16 16">
							<path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
						</svg>
					</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
