<a class="thumb livre" href="{{ path('app_front_livre_show', { id: livre.id, slug: livre.slug }) }}">
	<img src="{{ livre.image }}" alt="{{ livre.titre }}"/>
	<p>{{ livre.titre }}</p>
	<p>{{ livre.shortDescription }}</p>
	<p>Prix :
		{{ livre.price }}
		€</p>
	<p>
		Revendeur :
		<a href="{{ path('app_front_user_showDealer', { id: livre.dealer.id }) }}">
			{{ livre.dealer.fullName }}
		</a>
	</p>
</a>
