<a class="thumb book" href="{{ path('app_front_book_show', { id: book.id, slug: book.slug }) }}">
	<img src="{{ book.image }}" alt="{{ book.title }}"/>
	<p>{{ book.title }}</p>
	<p>{{ book.shortDescription }}</p>
	<p>Prix :
		{{ book.price }}
		€</p>
	<p>
		Revendeur :
		<a href="{{ path('app_front_user_showDealer', { id: book.dealer.id }) }}">
			{{ book.dealer.fullName }}
		</a>
	</p>
	{% if app.user and app.user.id == book.dealer.id %}
		<p>
			<a href="{{ path('app_front_book_modify', { id: book.id, slug: book.slug }) }}">Modifier mon livre</a>
		</p>
		<p>
			<a href="{{ path('app_front_book_delete', { id: book.id }) }}">Supprimer mon livre</a>
		</p>
	{% endif %}
</a>
