<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% block stylesheets %}
			<!-- CSS only -->

			<link rel="stylesheet" href="{{ asset('/css/style.css') }}">
			{{ encore_entry_link_tags('app') }}

		{% endblock %}
		<title>
			{% block title %}Rebrary!
			{% endblock %}
			{% block javascripts %}
				<!-- JavaScript Bundle with Popper -->
				<script src="/build/runtime.js"></script>
				<script src="/build/app.js"></script>
				{{ encore_entry_script_tags('app') }}

			{% endblock %}
		</title>
	</head>
	<body>
		<header>

			<nav class="navbar navbar-expand-lg navbar-light bg-dark">
				<div class="container px-5">
					<a href="{{ path('front_home') }} "><img class="logo" src="{{ asset('img/logo.png') }}" alt=""></a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
							<li class="nav-item">

								<a class="nav-link active" aria-current="page" href="#!">
									<a href="{{ path('rechercher') }} "><img class="logo" src="{{ asset('img/transparency.png') }}" alt=""></a>

								</a>
							</li>
							<li class="nav-item">
								<a href="{{ path('utilisateur_profile') }}" class="nav-link">
									<button class="btn btn-purple btn-sm">
										<img class="logo" src="{{ asset('img/user-white.png') }}" alt="">My Profile
									</button>
								</a>
							</li>
							<li class="nav-item">
								<a href="{{ path('panier') }}" class="nav-link">
									<button class="btn btn-warning btn-sm">
										<img class="logo" src="{{ asset('img/shopping-cart-white.png') }}" alt="">
										My Cart
									</button>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>

		</header>
		<nav class="navbar navbar-expand-lg bg-light">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">Navbar scroll</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarScroll">
					<ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="#">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Link</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								Link
							</a>
							<ul class="dropdown-menu">
								<li>
									<a class="dropdown-item" href="#">Action</a>
								</li>
								<li>
									<a class="dropdown-item" href="#">Another action</a>
								</li>
								<li><hr class="dropdown-divider"></li>
								<li>
									<a class="dropdown-item" href="#">Something else here</a>
								</li>
							</ul>
						</li>
						<li class="nav-item">
							<a class="nav-link disabled">Link</a>
						</li>
					</ul>
					<form class="d-flex" role="search">
						<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
						<button class="btn btn-outline-success" type="submit">Search</button>
					</form>
				</div>
			</div>
		</nav>
		<main class="container"> {% block main %}{% endblock %}
			</main>

			<br>
			<footer>
				<div class="d-flex justify-content-between">
					<h4>
						<a href="{{ path('front_home') }} ">Home</a>
					</h4>
					<h4>
						<a href="{{ path('front_auteur_index') }} ">Liste de Auteurs</a>
					</h4>

					<h4>
						<a href="{{ path('front_categorie_index') }} ">Liste de Categories</a>
					</h4>
					<h4>
						<a href="{{ path('front_livre_index') }} ">Liste de Livres</a>
					</h4>
				</div>
			</footer>
		</body>
	</html>
