<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% block stylesheets %}
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
			<link rel="stylesheet" href="{{ asset('/css/style.css') }}">
		{% endblock %}
		<title>
			{% block title %}Rebrary!
			{% endblock %}
			{% block javascripts %}
				<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
				<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
				<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
			{% endblock %}
		</title>
	</head>
	<body class="container">
		<header>
			<div class="d-flex justify-content-end">
				<div class="mr-auto p-2">
					<h4>
						<a href="{{ path('front_home') }} ">Home</a>
					</h4>
				</div>
				<div class="p-2">
					<h4>
						<a href="{{ path('rechercher') }} "><img class="logo" src="{{ asset('img/transparency.png') }}" alt=""></a>
					</h4>
				</div>
				<div class="p-2">
					<h4>
						<a href="{{ path('utilisateur_profile') }}"><img class="logo" src="{{ asset('img/user.png') }}" alt=""></a>
					</h4>
				</div>
				<div class="p-2">
					<h4>
						<a href="{{ path('panier') }} "><img class="logo" src="{{ asset('img/shopping-cart.png') }}" alt=""></a>
					</h4>
				</div>
			</div>
		</header>
		{% block body %}
			<main>
				{% block main %}{% endblock %}
			</main>

		{% endblock %}
		<br>
		<footer>
			<div class="d-flex justify-content-between">
				<h4>
					<a href="{{ path('front_home') }} ">Home</a>
				</h4>
				<h4>
					<a href="{{ path('front_auteur_index') }} ">Liste de Auteurs</a>
				</h4>

				<h4>
					<a href="{{ path('front_categorie_index') }} ">Liste de Categories</a>
				</h4>
				<h4>
					<a href="{{ path('front_livre_index') }} ">Liste de Livres</a>
				</h4>
			</div>
		</footer>
	</body>
</html>
