{% extends 'base.html.twig' %}

{% block title %}Categorie index
{% endblock %}

{% block body %}
	<h1>Categorie index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Titre</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for categorie in categories %}
				<tr>
					<td>{{ categorie.id }}</td>
					<td>{{ categorie.titre }}</td>
					<td>
						<a href="{{ path('front_categorie_show', {'id': categorie.id}) }}">show</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="3">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<div>
		<h3>
			<a href="{{ path('front_auteur_index') }} ">Liste de Auteurs</a>
		</h3>

		<h3>
			<a href="{{ path('rechercher') }} ">Liste de Categories</a>
		</h3>
		<h3>
			<a href="{{ path('front_livre_index') }} ">Liste de Livres</a>
		</h3>
	</div>

{% endblock %}
